In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Dataset/car_data.csv')

In [3]:
df.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0

In [4]:
df.drop(['Car_Name'],axis=1,inplace=True)

In [5]:
df.isnull().any()

Year             False
Selling_Price    False
Present_Price    False
Kms_Driven       False
Fuel_Type        False
Seller_Type      False
Transmission     False
Owner            False
dtype: bool

In [6]:
def used_duration(text):
    year=int(text)
    year=2020-year
    return year

In [7]:
df['Year']=df['Year'].apply(used_duration)

In [8]:
df.head(10)

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,6,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,7,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,3,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,9,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,6,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,2,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,5,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,5,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,4,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,5,7.45,8.92,42367,Diesel,Dealer,Manual,0

In [9]:
df=pd.get_dummies(df, columns=['Fuel_Type'],drop_first=True)
df=pd.get_dummies(df, columns=['Seller_Type'],drop_first=True)
df=pd.get_dummies(df, columns=['Transmission'],drop_first=True)
df=pd.get_dummies(df, columns=['Owner'],drop_first=True)

In [17]:
df.head(10)

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual,Owner_1,Owner_3
0,6,3.35,5.59,27000,0,1,0,1,0,0
1,7,4.75,9.54,43000,1,0,0,1,0,0
2,3,7.25,9.85,6900,0,1,0,1,0,0
3,9,2.85,4.15,5200,0,1,0,1,0,0
4,6,4.60,6.87,42450,1,0,0,1,0,0
5,2,9.25,9.83,2071,1,0,0,1,0,0
6,5,6.75,8.12,18796,0,1,0,1,0,0
7,5,6.50,8.61,33429,1,0,0,1,0,0
8,4,8.75,8.89,20273,1,0,0,1,0,0
9,5,7.45,8.92,42367,1,0,0,1,0,0

In [11]:
X=df.iloc[:,[0,2,3,4,5,6,7,8,9]]
y=df.iloc[:,[1]]

In [12]:
from sklearn.ensemble import ExtraTreesRegressor
regressor=ExtraTreesRegressor()
regressor.fit(X,y)

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

ExtraTreesRegressor()

In [13]:
regressor.predict([[6,5.59,27000,0,1,0,1,1,0]])

array([3.35])

In [14]:
import pickle

file = open('Model/Prediction', 'wb')
pickle.dump(regressor, file)
file.close()

In [15]:
import pickle
file = open('Model/Prediction', 'rb')
regressor = pickle.load(file)
file.close()

In [18]:
regressor.predict([[5,8.92,42367,1,0,0,1,0,0]])

array([7.45])